
html,
body,
*{
  margin: 0;
  padding: 0;
  --content-width: 800px;
}


.menu-list{
 
list-style: none;



}
.menu-list li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 40px;
}
.menu-list a{
  text-decoration: none;
  color: black;
}

.menu-list a:hover, a:focus
.menu-list a:active, a:focus{
  
  color: red;
}

.logo{
  font-weight: 800;
  margin-top: 10px;
  font-size: 25px; 
  margin-top: 32px;

}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.container{
  width: 100vw;
  
 
}
.search{
  display: inline-block;
}

.button{
  width: 100px;
  height: 40px;
}

.services{
  border: 1px solid red;

}

.hire{
  background-color: lightgreen;
}
.text{
  color: gainsboro;
  margin-left: -60px;
  font-size: 20px;

}
.test{
   font-size: 18px;
   color: gainsboro;
   
}
.buttons {
  display: flex;
  padding: 40px;
  color: white;
} 
.test:hover{
  opacity: 0.5;
  cursor: pointer;
}
.privet{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.texts  {
text-align: center;
font-size: 10px;
margin-top: 100px;
}
.fal{
  
  color: white;
  font-size: 30px;
}
.fal:hover{
  opacity: 0.8;
  cursor: pointer;
}
.sea{
  font-size: 15px;
}
.greeting-block{
  position: relative;
  
  height: 500px;
  
}

.greeting-block__logo{

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('/image/nice.png');
  z-index: -2;
  height: 780px;
  
}
.hello{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -3;
}
.b_about__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 380px;
}

.word{
    margin-top: 20px;
    white-space: nowrap;
    text-indent: -30px;
}
.iconki{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}
.conors{
  background-color: #e4fdf9;
  height: 1250px;
}
.zagolovok{
  text-align: center;
}
.cirkle{
  text-align: center;
  margin-top: 20px;
}
.kartinka{
  margin-top: 70px;
}
.kar{
  margin-left: 420px;
  margin-top: -470px;
}
.kart{
  margin-left: 822px;
  margin-top: -442px;
}
.karti{
  margin-left: 18px;
  margin-top: 25px;
}
.kartin{
  margin-left: 420px;
  margin-top: -440px;
}
.kartink{
  margin-left: 822px;
  margin-top: -441px;
}
.topic{
  margin-top: 230px;
  text-align: center;
}
.article{
  margin-top: 20px;
  text-align: center;
  margin-bottom: 100px;
}
.knopka{

}
.latest_works__buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}
.latest_works{
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
.karusel{
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.karusel__image{
  height: 250px;
  width: 250px;
  display: flex;
  margin-right: 50px;
  margin-bottom: 100px;

}
.prices{
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
.prices_card{
  height: 600px;
  width: 200px;
  background-color: white;

}

.prices_card-selected{

  box-shadow: 0 5px 5px 1px rgba(0,0,0,0.5);
}

.prices_card__header{
  height: 200px;
  width: 200px;
  background-color: #3848a9;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100% ) ;
}
.prices_card__body{
  width: 200px;
  height: 400px;
  background-color: white;
}
img{
  margin-left: 110px;
}
.leader{
  margin-top: -225px;
  margin-left: 240px;
  color: white;
}
.pam{
  color: white;
  margin-left: 250px;
}
.image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -190px;
  margin-right: 80px;
}
.picture{
  margin-left: 805px;
  margin-top: -370px;
}
.pic{
  margin-top: 30px;
}
.userpic{
  margin-left: 403px;
  margin-top: -374px;
}
.avatar{
  margin-left: 805px;
  margin-top: -373px; 
}
.snap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 230px;
}
.ron{
  background-color: #f0f1f1;
  height: 950px;
}
.rubric{
  text-align: center;
  margin-top: 100px;
}
.pan{
  text-align: center;
  margin-top: 20px;
}
.con{
  margin-top: 100px;
}
.com{
 margin-left: 370px;
 margin-top: -690px;
  
}
.cob{
  margin-left: 785px;
  margin-top: -695px;
  margin-bottom: 230px;
}
.ban{
  text-align: center;
}
.item{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 120px;
}
.two{
  margin-left: 405px;
  margin-top: -488px; 
}
.three{
   margin-left: 809px;
   margin-top: -487px;
}
.faw{
  font-size: 50px;
  margin-top: 100px;
  text-align: center;
  color:#00897b;
  margin-bottom: 200px;
}
.comment{
  background-color: #e4fdf9;
  height: 1650px;
}
.titl{
  text-align: center;
}
.paq{
  text-align: center;
  margin-top: 20px;
}
.imgs{
  margin-top: 120px;
}
.headl{
  margin-top: -350px;
  margin-left: 700px;
  color: #00897b;
}
.mouse{
  margin-left: 715px;
  margin-top: -10px;
}
.happy{
  margin-left: 590px;
}
.birthday{
  margin-left: 730px;
  margin-top: -23px;
}
.file{
  margin-left: 740px;
  margin-top: -17px;
}
.develop{
  margin-left: 877px;
  margin-top: -25px;
}
.pae{
  margin-left: 700px;
  margin-top: 20px;
}
.bg{
  margin-top: 205px;
  margin-left: 600px;
}
.bal{
  margin-top: -350px;
  margin-left: 110px;
}
.bk{
  margin-top: 20px;
  
}
.hd{
  margin-left: 145px;
  margin-top: -22px;
}
.fl{
  margin-left: 150px;
  margin-top: -18px;
}
.xl{
  margin-left: 290px;
  margin-top: -25px;
}
.para{
  margin-left: 110px;
  margin-top: 25px;
}
.images{
  margin-left: -115px;
  margin-top: 200px;
}
.hate{
  margin-left: 600px;
  margin-top: -350px;

}
.vol{
  margin-left: 490px;
  margin-top: 20px;
}
.money{
  margin-left: 630px;
  margin-top: -23px;
}
.mon{
  margin-left: 630px;
  margin-top: -17px;
}
.headn{
  margin-left: 770px;
  margin-top: -27px;
}
.pant{
  margin-left: 600px;
  margin-top: 25px;
}
.new{
  margin-top: 300px;
  white-space: nowrap;
  margin-left: 500px;
  margin-bottom: 95px;
}
.contact{
  margin-left: -145px;
  
}
.connected{
  margin-top: -1140px;
  text-align: center;
  color: white;
}
.parag{
  color: white;
  text-align: center;
  margin-top: 20px;
}
.adress{
   margin-left: 100px;
   margin-top: 110px;
}
.email{
  margin-left: 70px;
  margin-top: 80px;
}
.send{
  margin-left: 880px;
  margin-top: 35px;
}
.reserved{
  text-align: center;
  color:black;
  margin-top: 120px;
}