.menu-list{
 
list-style: none    ;

}
.menu-list li {
  display: inline-block;
  margin-left: 15px; 
}
.menu-list a{
  text-decoration: none;
  color: black;
}

.menu-list a:hover, a:focus
.menu-list a:active, a:focus{
  
  color: red;
}

.logo{
  font-weight: 800;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 200px;
}
.container{
  padding-left: 50px;
  padding-right: 50px; 
}
.search{
  display: inline-block;
}

.button{
  width: 100px;
  height: 40px;
}

.services{
  border: 1px solid red;

}

.hire{
  background-color: lightgreen;
}
.text{
  color: gainsboro;
  text-align: center;
  font-size: 20px;

}
.test{
   margin-left: 465px;
   font-size: 18px;
   color: gainsboro;
}
.buttons{
  display: flex;
  margin-left: 480px;
  padding: 40px;
} 
.texts  {
text-align: center;
font-size: 10px;
margin-top: 100px;
}
.fal{
  margin-left: 635px;
  color: royalblue;
}
.sea{
  font-size: 15px;
}